@charset "UTF-8";
/*BODY GENERAL*/
body {
  font-family: 'Noto Sans JP' , sans-serif !important;
  min-height: 100vh;
  margin: 10px 10px 0px 10px;
  padding: 0px;
  opacity: 1;
  background-image: url(../img/laser-header2.png), linear-gradient(to top, #805ACB, #8C9EFF);
  background-repeat: no-repeat; }
  body a {
    text-decoration: none !important;
    color: black !important; }

#nombrePagina {
  font-family: 'Acme', sans-serif;
  font-size: 70px;
  color: #ffff8d;
  word-spacing: 30px;
  text-align: center;
  text-shadow: 3px 1px black;
  letter-spacing: 3px; }

/*NAVEGADOR*/
nav ul {
  padding: 10px;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center; }
  nav ul li {
    background-color: #fff9c4;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    height: 20px; }

ul, li {
  display: inline-block;
  padding: 5px;
  color: #faf3b7;
  list-style: none;
  margin: 5px; }

ul ul {
  display: none;
  position: absolute; }

ul li {
  display: block; }

ul li:hover ul {
  display: block; }

nav ul li:hover {
  height: 20px;
  width: 200px;
  background-color: #ffe57f; }

/*MODIFICACIONES PARA LOS HTML CON BOOTSTRAP*/
#headerConBootstrap {
  padding: 35px; }

#nombrePaginaConBootstrap {
  font-family: 'Acme', sans-serif;
  font-size: 70px;
  color: #ffff8d;
  word-spacing: 30px;
  text-align: center;
  text-shadow: 3px 1px black;
  letter-spacing: 3px; }

#navegadorConBootstrap {
  margin: 50px; }
  #navegadorConBootstrap ul li {
    height: 45px; }

#footerConBootstrap {
  margin-top: 100px;
  color: black; }

#tituloPrincipal {
  color: #ea80fc;
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  text-shadow: 1px 1px black;
  margin-right: 30px;
  margin-bottom: 20px; }

/*INDEX*/
.seccionPrincipal {
  margin: 10px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.divInicio {
  width: 700px;
  margin: 10px;
  padding: 5px;
  border: 3px solid black;
  box-shadow: 10px 10px black; }

.imgInicio {
  display: flex;
  justify-content: space-between;
  margin: 100px; }

#videoInicio {
  display: flex;
  justify-content: center;
  margin: 50px; }

.tituloSecundario {
  color: #425ae6;
  font-size: 30px;
  text-align: center; }

.oferta {
  color: rgba(239, 154, 246, 0.931);
  font-size: 20px; }

/*PRODUCTOS*/
.container-fluid {
  transform: translate(0px, 50px); }

/*MATERIALES*/
#tablaMateriales {
  display: flex;
  justify-content: center; }

table {
  border: 3px solid;
  transform: translate(100px); }
  table th {
    background-color: #ea80fc;
    border: 1px solid; }
  table td {
    background-color: #ffb2ff;
    border: 1px solid; }

table:hover {
  transform: scale(1.5, 1.5); }

/*GALERIA DE TRABAJOS*/
#gridContainer {
  display: grid;
  grid-template-areas: "header header header"  "main main main"  "footer footer footer";
  grid-template-rows: 20% 70% 10%;
  grid-template-columns: repeat(3, 1fr); }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

main {
  grid-area: main; }

.gridContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 400px;
  grid-gap: 30px; }

.ejemplo {
  height: 200px;
  width: 250px; }
  .ejemplo:hover {
    transform: scale(1.5, 1.5); }

/*CONTACTO*/
#formulario {
  display: flex;
  justify-content: center; }

.tituloCasillero {
  display: block; }

textarea {
  width: 355px; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 10px 10px;
  height: 70px; }
  footer ul {
    list-style: none; }
  footer .instagram {
    width: 5px; }

/*=== Media querie ===*/
/* Mobile Styles (apliqué para iphone 6/7/8 375x667*/
@media only screen and (max-width: 400px) {
  body {
    background-image: url(../img/laser2.png), linear-gradient(to top, #805ACB, #8C9EFF); }
  header {
    width: 350px;
    height: 500px; }
  nav ul {
    padding: 10px;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between !important;
    text-align: center; }
  .submenu {
    display: none; }
  #tituloPrincipal {
    text-align: center; }
  /*INDEX*/
  .seccionPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px; }
  .divInicio {
    width: 300px;
    border: 3px solid black; }
  .imgInicio {
    display: flex;
    justify-content: center;
    height: 300px; }
  .imgIndex {
    width: 300px; }
  /*PRODUCTOS*/
  #headerConBootstrap {
    height: 600px !important; }
  #navegadorConBootstrap {
    width: 380px;
    transform: translate(-100px) !important; }
  /*MATERIALES*/
  #tablaMateriales {
    justify-content: left; }
  /*GALERIA DE TRABAJOS*/
  #gridContainer {
    display: block; }
  .gridContainer {
    display: block;
    transform: translate(50px); }
  /*CONTACTO*/
  #formulario {
    justify-content: left;
    margin-top: 20px; } }

/* Tablet Styles (apliqué para Ipad 768x1024) */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*INDEX*/
  .seccionPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px; }
  .divInicio {
    width: 600px;
    margin: 5px; }
  .imgInicio {
    display: flex;
    justify-content: center;
    width: 50px; }
  /*GALERIA DE TRABAJOS*/
  #gridContainer {
    display: block; }
  .gridContainer {
    display: block; }
  .ejemplo {
    height: 200px; }
  /*PRODUCTOS*/
  #navegadorConBootstrap {
    margin: 0px; } }
