/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 10px 10px;
    height: 70px;

    ul {
        list-style: none;
    }

    .instagram {
        width: 5px;
    }
}

